# EasyDriver Database Connection Configuration
# Host IP Address / Server (usually localhost in Cpanel / DirectAdmin)
DB_HOST=localhost

# Database administrative user
DB_USER=your_database_username

# Database secure user password
DB_PASSWORD=your_secure_password

# Database schema name managed via phpMyAdmin
DB_NAME=easydri1_mmd

# Gemini Intelligent Diagnosis & Ticket Support Chat Assistant API Key
GEMINI_API_KEY=
